.navbar
    .nav-link-wrapper
        border: 1px solid $gray-500    
        .nav-link
            display: block
            padding: 0.5rem
            color: $gray-500
            background-color: white
            transition: all 300ms
            width: 75px
            text-align: center
            &:hover
                background-color: rgba($theme-color,0.1)
            &.active
                background-color: $theme-color
                color: white