.form-wrapper
    .form
        .form-input-wrapper
            position: relative
            margin-bottom: 1rem
            .input-label
                margin-bottom: 0.35rem
                user-select: none
                padding: 0 1rem
            .input-wrapper
                .ant-input,.ant-select-selection,.ant-input-number,.ant-calendar-picker-input,.ant-time-picker-input,.react-phone-number-input
                    width: 100%
                    border-radius: 4px
                    border: 1px solid $theme-color
                    min-height: 40px
                    font-weight: 500
                    transition: all 300ms
                    font-size: 15px
                    &:focus
                        border: 1px solid darken( $theme-color,20%)
                    .ant-input-number-handler-wrap
                        display: none
                    .ant-select-selection__rendered,.ant-input-number-input-wrap
                        height: 100%
                        .ant-select-selection__choice
                            border-radius: 10px
                            background-color: rgba($theme-color,0.4)
                            border: 1px solid $theme-color
                            margin: 7px 3px
                        .ant-input-number-input
                            height: 100%
                        .ant-select-selection-selected-value
                            display: flex !important
                            align-items: center
                            height: 100% 
                


@media (max-width: 767px)
    .form-wrapper
        .form
            .form-input-wrapper
                .input-wrapper
                    .ant-input,.ant-select-selection,.ant-input-number,.ant-time-picker-input,.react-phone-number-input
                        min-height: 35px
                        font-size: 13px
                        .ant-select-selection__rendered,.ant-input-number-input-wrap
                            .ant-select-selection__choice
                                margin: 4px 3px

@media (max-width: 420px)
    .form-wrapper
        .form
            .form-input-wrapper
                .input-wrapper
                    .ant-input,.ant-select-selection,.ant-input-number,.ant-time-picker-input,.react-phone-number-input
                        min-height: 33px
                        font-size: 12px