.anticon
    vertical-align: 0
//text colors
.text-black
    color: black
.text-theme-color
    color: $theme-color
.text-theme-color-400
    color: rgba($theme-color,0.7)
.text-gray-500
    color: $gray-500
.text-gray-900
    color: $gray-900

//link colors

.link-theme-color
    color: $theme-color
    text-decoration: none !important
    user-select: none
    cursor: pointer
    &:hover
        color: darken($theme-color,10%)
.link-gray-500
    color: $gray-500
    text-decoration: none !important
    user-select: none
    cursor: pointer
    &:hover
        color: darken($gray-500,10%)
.link-gray-900
    color: $gray-900
    text-decoration: none !important
    user-select: none
    cursor: pointer
    &:hover
        color: darken($gray-900,10%)
.link-white
    color: white
    text-decoration: none !important
    user-select: none
    cursor: pointer
    &:hover
        color: darken(white,10%)


.text-dots
    display: block
    text-overflow: ellipsis
    overflow: hidden
    width: 100% 
    white-space: nowrap
.user-select-none
    user-select: none
    
.cursor-pointer
    cursor: pointer

//text fontweight
.weight-400
    font-weight: 400 !important
.weight-500
    font-weight: 500 !important
.weight-600
    font-weight: 600 !important
.weight-700
    font-weight: 700 !important

//text size
.font-Xsmall
    font-size: 11px
.font-small
    font-size: 12px
.font-Lsmall
    font-size: 14px
.font-medium
    font-size: 16px
.font-Lmedium
    font-size: 18px
.font-large
    font-size: 20px
.font-Xlarge
    font-size: 30px
@media (min-width: 1660px)
    .font-Xsmall
        font-size: 14px
    .font-small
        font-size: 16px
    .font-Lsmall
        font-size: 18px
    .font-medium
        font-size: 20px
    .font-Lmedium
        font-size: 26px
    .font-large
        font-size: 28px
    .font-Xlarge
        font-size: 36px
@media (max-width: 600px)
    .font-Xsmall
        font-size: 9px
    .font-small
        font-size: 11px
    .font-Lsmall
        font-size: 12px
    .font-medium
        font-size: 14px
    .font-Lmedium
        font-size: 16px
    .font-large
        font-size: 18px
    .font-Xlarge
        font-size: 26px
@media (max-width: 420px)
    .font-Xsmall
        font-size: 7px
    .font-small
        font-size: 9px
    .font-Lsmall
        font-size: 10px
    .font-medium
        font-size: 12px
    .font-Lmedium
        font-size: 14px
    .font-large
        font-size: 16px
    .font-Xlarge
        font-size: 23px
@media (max-width: 350px)
    .font-Xsmall
        font-size: 6px
    .font-small
        font-size: 8px
    .font-Lsmall
        font-size: 9px
    .font-medium
        font-size: 11px
    .font-Lmedium
        font-size: 13px
    .font-large
        font-size: 15px
    .font-Xlarge
        font-size: 20px
@media (max-width: 335px)
    .font-Xsmall
        font-size: 5px
    .font-small
        font-size: 7px
    .font-Lsmall
        font-size: 8px
    .font-medium
        font-size: 10px
    .font-Lmedium
        font-size: 12px
    .font-large
        font-size: 14px
    .font-Xlarge
        font-size: 17px
