.pagination-list-wrapper
    display: flex
    justify-content: center
    .ant-pagination
        li
            margin: 0.25rem 0.25rem
           
            &.ant-pagination-item
                background-color: rgba($theme-color,0.5)
                margin: 0.25rem 0.25rem
                border: none
                user-select: none
                transition: all 300ms
                a
                    color: white
                &:hover
                    background-color: rgba($theme-color,0.7)
                &.ant-pagination-item-active
                    background-color: $theme-color
                    a
                        color: white

@media (max-width: 349px)
    .pagination-list-wrapper
        .ant-pagination
            li
                &.ant-pagination-item,&.ant-pagination-prev,&.ant-pagination-next
                    min-width: 27px
                    height: 27px