.todos-list-wrapper
    .todo-list
        list-style: none
        padding: 0
        .todo-list-item
            .todo-list-item-label
                display: flex
                align-items: center
                padding: 1rem 0.5rem
                border: 1px solid $theme-color
                background-color: white
                transition: all 300ms
                opacity: 1
                user-select: none
                &:hover,&:focus
                    background-color: rgba($theme-color,0.1)
                .title-wrapper
                    flex-grow: 1
            &.comeleted
                .todo-list-item-label
                    opacity: 0.7
                    background-color: rgba($gray-500,0.1)
                    border: 1px solid $gray-500
                    text-decoration: line-through

